@model MCVFinal.salon

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del salon</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del salon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Capacidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_salon }) |
    @Html.ActionLink("Retornar", null, null, null, new { href = Request.UrlReferrer })
</p>
